body {
	background: #;
	text-align: center;

}
.menu {
	background: ;
	
	box-sizing: border-box;
	width: 1210px;
	height: 530px;
	overflow: auto;
	display: inline-block;
	
	
	

}
.item {
	border: 1px solid grey;
	width: 280px;
	height: 470px;
	float: left;
	margin: 60px 5px 0px 5px;
	
	


}
.category {
	border-bottom: 1px solid grey;
	margin: 0px 15px 0px 15px;
	padding: 35px 0px 25px 0px;
	position: relative;
}
img {
	padding: 15px 0px 15px 0px;
	

}
.name {
	color: blue;
	font-size: 20px;
	font-weight: bold;
	padding-top: 10px;
}
.price {
	width: 300px;
	height: 25px;
	padding: 10px 0px 10px 0px;
	margin-top: 15px;
}

.order_empty {
	background: purple;
	margin: 10px 60px 40px 60px;
	height: 40px;
	padding-top: 5px;
	color: white;
	font-weight: bold;
}
.order_active {
	background: yellow;
	margin: 10px 60px 40px 60px;
	height: 40px;
	padding-top: 5px;
	font-weight: bold;

}
.old_price {
	text-decoration: line-through;
}
.new_price {
	font-weight: bold;
}
.category:after {
	content: 'Новинка';
	background: blue;
	color: white;

	position: absolute;
	padding: 38px 20px 38px 20px;
	border-radius: 50% 50% 50% 50%;
	right: -3%;
	top: -63%;
}