body {
	text-align: center;
	text-transform: uppercase;
}
.menu {
	display: inline-block;
	margin: 0 auto;
	width: 960px;
	height: 430px;
	margin-top: 60px;
	position: relative;
}
.item {
	box-sizing: border-box;
	border: 1px solid grey;
	width: 240px;
	height: 430px;
	float: left;
	border-right: none;
	padding: 0px 15px 0px 15px;
}
.item:last-child {
	border-right: 1px solid grey;
}
.category {
	border-bottom: 1px solid grey;
	padding: 35px 0px 25px 0px;
	display: flex;
	justify-content: center;
	text-align: center;
}
img {
	
}
a {
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 20px 0px 20px;
	text-decoration: none;
}
.order_active:hover {
	background: black;
	color: white;
}
.order_active:active {
	background: black;
	color: black;
}

.name {
	color: blue;
	font-weight: bold;
	margin-top: 10px;
	display: flex;
	justify-content: center;
	text-align: center;
}
.price {
	height: 30px;
	margin-top: 5px;
	margin-top: px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.order_unactive {
	background: purple;
	color: white;
	font-weight: bold;
	margin: 15px 30px 0px 30px;
	padding: 5px 5px 5px 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.order_active {
	background: yellow;
	color: black;
	font-weight: bold;
	margin: 15px 30px 0px 30px;
	padding: 5px 5px 5px 5px;
	display: flex;
	justify-content: center;
	align-items: center;

}
.old_price {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: line-through;
	padding: ;
}
.new_price {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}
.container {
	position: relative;
	margin-top: 10px;
}
.sticker_new {
	position: absolute;
	background: green;
	font-weight: bold;
	font-size: 12px;
	color: white;
	padding: 3px;
	width: 60px;
	height: 60px;
	border: 2px solid white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	right: -8px;
	top: -125px;
}
.sticker_hit {
	position: absolute;
	background: blue;
	font-weight: bold;
	font-size: 12px;
	color: white;
	padding: 3px;
	width: 60px;
	height: 60px;
	border: 2px solid white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	right: -8px;
	top: -125px;
}
.menu:after {
	content: '>';
	position: absolute;
	background: white;
	color: grey;
	font-size: 25px;
	border: 1px solid grey;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	top: 60px;
	right: -18px;
	display: flex;
	justify-content: center;
	align-items: center;	
}
.menu:before {
	content: '<';
	position: absolute;
	background: white;
	color: grey;
	font-size: 25px;
	border: 1px solid grey;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	top: 60px;
	left: -18px;
	display: flex;
	justify-content: center;
	align-items: center;
}