body {
  background-color: grey;
}
img {
  width: 400px;
  height: 400px;
}
.photo {
  width: 400px;
  height: 400px;
  float: left;
  position: relative;
  margin-left: 130px;
  margin-top: 30px;
  

}

.main_info {
  background: white;
  height: 400px;
  width: 650px;
  display: inline-block;
  margin-top: 30px;
 
}
h1 {
  text-align: center;
}
.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
}
.column_1 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}

.column_2 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}
.item {
  text-align: center;
  padding: 25px;
  font-size: 20px;
}
.bottom {
  background: black;
  width: 150px;
  height:45px;
  float: right;
  margin-right: 190px;
  margin-top: 20px;
  color: white;
  text-align: center;
  padding-top: 15px;
}
.text1 {
  position: absolute;
  bottom: -7%;
  left: -7%;
  width: 300px;
  height: 180px;
  background: black;
  color: white;
  text-align: center;
  font-size: 35px;
  padding-top: 50px;
}


  
 
  

