.first {
	width: 200px;
	height: 200px;
	background: white;
	border: 50px solid red;
	border-radius: 50%;
	position: relative;
}
.first:after {
	content: '';
	width: 90px;
	height: 90px;
	background: blue;
	border-radius: 50%;
	position: absolute;
	left: calc(50% - 45px);
	top: calc(50% - 45px);
}
.second {
	width: 90px;
	height: 90px;
	background: blue;
	border-radius: 50%;
	box-shadow: 0 0 0 50px #ffffff,
	0 0 0 100px #e81c1c;
	margin-left: 400px;
}
.third {
	width: 90px;
	height: 90px;
	background: blue;
	border-radius: 50%;
	border: 50px solid white;
	outline: 50px solid red;
}