.website_background {
margin-left: 200px;
}
.left_part {
	background-color: #4791d6;
	width: 250px;
	height: 1000px;
	padding-left: 25px;
	padding-bottom: 25px;
	float: left;
	display: inline-block;
}

.avatar {
	width: 150px;
	height: 150px;
	margin-top: 25px;
	margin-left: 30px;
	border: 3px solid white;
	border-radius: 75px;
}

.personal_data_left {
	margin-top: 20px;
	text-align: left;
	color: white;
	font-size: 23px;
	font-weight: bold;
	border-bottom: 2px solid white;
	padding-bottom: 10px;
}

.wrap_personal_data_left {
	margin-top: 15px;
}

.pdl_attribute {
color: white;
font-size: 18px;
font-weight: bold;
}

.pdl_text {
color: white;
font-size: 16px;
padding-right: 25px;
}

.wrap_personal_data_left_1 {
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
}

.right_part {
	width: 700px;
	background-color: white;
	float: left;
	display: inline-block;
	position: absolute;
	padding-left: 25px;
}
.title_right {
	font-size: 33px;
	font-weight: bold;
	border-bottom: 4px solid #4791d6;
	margin-top: 25px;

}
.personal_data_right {
	font-size: 26px;
	font-weight: bold;
	border-bottom: 2px solid #4791d6;
	margin-top: 20px;
	padding-bottom: 10px;
}
.wrap_personal_data_right {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}
.pdr_text_1 {
	font-size:22px;
	font-weight: bold;
}
.pdr_text_2 {
	font-size:20px;
	font-style: oblique;
	margin-top: 5px;
}
.pdr_text_3 {
	font-size:16px;
	margin-top: 8px;
}
.pdr_text_year {
	font-size:20px;
}
.menu {
	display: inline-block;
	list-style-type: none;
	margin: 0px;
	padding-left: 55px;
	padding-top: 15px;
	padding-bottom: 10px;
	width: 644px;
	height: 75px;
	
	background:#4791d6;
}
.menu li {
	float: left;
	color: white;
	font-size: 26px;
	background:#4791d6;
	border: 3px solid white;
	border-radius: 4px;
	margin: 10px;
	padding: 5px;
}
a {
	text-decoration: none;
	color: white;
}
a:hover {
	background: #3143a8;
}
.pdr_text_1_tasks {
	color:white;
	
}
